<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    
    <h1>Please, make sure you fulfil all form.</h1>
    <a class="button" type="button" onclick="location.href='/date-form';">
        <span>I want to try again!</span>
    </a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>